@charset "UTF-8";

html, body {
	height: 100%;
	width: 100%;
	background: url("../images/3.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.topwrite {
	position: relative;
	z-index: 100;
	font-size: 30px;
	top: 10%;
	left: 45%;
	color: white;
}

.text-box {
	position:absolute;
	width : 70%;
	top:10%;
	left: 28%;
	z-index: 100;
	
}

.text-box h2 {
	font-family: 'Staatliches', cursive;
	font-size: 6em;
	position: absolute;
	color: #F1C164;
	text-shadow: 5px 5px #2D63A7;
	margin: 0;
	z-index: 100;
}

@import
	url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap')
	;

.text-box h1 {
	font-family: 'Staatliches', cursive;
}

button.submit {
	position: relative;
	z-index: 100;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 20;
	background-color: rgba(0, 0, 0, 0.5);
}

.wrapper {
	z-index: 15;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 650px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 30px;
}

}
.card {
	flex: 2;
	flex-basis: 200px;
	flex-grow: 0;
	height: 100%;
	background: #fff;
	border: 2px solid #fff;
	box-shadow: 0px 4px 7px rgba(0, 0, 0, .5);
	cursor: pointer;
	transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
	overflow: hidden;
	position: relative;
	padding-bottom: 10px;
}

.card img {
	width: 120%;
	height: 120%;
	transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
}

.descriptions {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(255, 255, 255, .7);
	width: 100%;
	height: 100%;
	transition: all .7s ease-in-out;
	padding: 20px;
	box-sizing: border-box;
	clip-path: circle(0% at 100% 100%);
}

.card h1 {
	color: #ff3838;
	letter-spacing: 1px;
	margin: 0px;
}

.card p {
	line-height: 24px;
	height: 70%;
}

.card button {
	width: fit-content;
	height: 40px;
	cursor: pointer;
	border-style: none;
	background-color: #ff3838;
	color: #fff;
	font-size: 15px;
	outline: none;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
	transition: all .5s ease-in-out;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);
}

button.recosubmit {
	height: 40px;
	width: 70px;
	background-color: aqua;
	position: absolute;
	z-index: 100;
	margin-top: 850px;
	margin-left: 1350px;
}

div .card {
	width: 170px;
	height: 220px;
	margin-bottom: 70px;
}

@import url(https://fonts.googleapis.com/css?family=BenchNine:700);



.snip1535:before, .snip1535:after {
	border-color: transparent;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	border-style: solid;
	border-width: 0;
	content: "";
	height: 24px;
	position: absolute;
	width: 24px;
}

.snip1535:before {
	border-color: #c47135;
	border-right-width: 2px;
	border-top-width: 2px;
	right: -5px;
	top: -5px;
}

.snip1535:after {
	border-bottom-width: 2px;
	border-color: #c47135;
	border-left-width: 2px;
	bottom: -5px;
	left: -5px;
}

.snip1535:hover, .snip1535.hover {
	background-color: #c47135;
}

.snip1535:hover:before, .snip1535.hover:before, .snip1535:hover:after,
	.snip1535.hover:after {
	height: 100%;
	width: 100%;
}