@charset "UTF-8";

html, body {
   width: 100%;
   height: 100%;
   
}
.footer{
   position: absolute;
   color: white;
}

.bx-wrapper, .bx-viewport, .slider {
   width: 100%;
   height: 100%;
}

.background_01 {
   height: 100%;
   width: 100%;
   background: url("../images/1.jpg") no-repeat;
   background-size: cover;
   background-position: center;
}

.background_02 {
   width: 100%;
   height: 100%;
   background: url("../images/2.jpg") no-repeat;
   background-size: cover;
   background-position: center;
}

.background_03 {
   width: 100%;
   height: 100%;
   background: url("../images/3.jpg") no-repeat;
   background-size: cover;
   background-position: center;
}

.logo img{
   position: absolute;
   z-index: 100;
}
.loginform{
   position: absolute;
   z-index: 100;
   right: 150px;
   top: 10px;
   font-size: 25px; 
}

a {
   text-decoration: none;
   color: black;
   font-size: medium;
   font-size: 5px
}
.overlay {
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 10;
   background-color: rgba(0, 0, 0, 0.5);
}
.dropdown{
   position: absolute;
   color: white;
   right: 25px;
   top: 10px;
   z-index: 100;
   display: inline-block;
}
.dropbtn {
   background: url("../images/menu.png") no-repeat;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
 }
 .dropdown-content {
   display: none;
   position: absolute;
   top: 50px;
   right: 0;
   min-width: 160px; 
   overflow: auto;
   z-index: 100;
   background-color: rgba(0, 0, 0, 0.5);
 }
 .dropdown-content a {
   color: white;
   padding: 12px 16px;
   padding-left: 50px;
   display: block;
 }
.show {
   display: block;
}
*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family:sans-serif;

}

body {
  background-image: #34495e;
}

.loginForm {
  position:absolute;
  width:300px;
  height:400px;
  padding: 30px, 20px;
  background-color:#FFFFFF;
  text-align:center;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
  z-index: 100;
}

.loginForm h2{
  text-align: center;
  margin: 30px;
}

.idForm{
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
}

.passForm{
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
}

.id {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.pw {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.btn {
  position:relative;
  left:40%;
  transform: translateX(-50%);
  margin-bottom: 40px;
  width:80%;
  height:40px;
  background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
  background-position: left;
  background-size: 200%;
  color:white;
  font-weight: bold;
  border:none;
  cursor:pointer;
  transition: 0.4s;
  display:inline;
}

.btn:hover {
  background-position: right;
}

.bottomText {
  text-align: center;
  color: black;
}


 
 


