@charset "UTF-8";


body , html{
	width: 100%;
	height: 100%;
}
.logo img{
   position: absolute;
   z-index: 100;
}
.loginform{
   position: absolute;
   z-index: 100;
   right: 150px;
   top: 10px;
   font-size: 25px; 
}
.dropdown{
   position: absolute;
   color: white;
   right: 25px;
   top: 10px;
   z-index: 100;
   display: inline-block;
}
.dropbtn {
   background: url("../images/menu.png") no-repeat;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
   width: 50px;
 }
 .dropbtn1{
	color: white;
   padding: 30px;
   font-size: 30px;
   border: none;
   cursor: pointer;
   outline:none;
 }
 .dropdown-content {
   display: none;
   position: absolute;
   top: 50px;
   right: 0;
   min-width: 160px; 
   overflow: auto;
   z-index: 100;
   background-color: rgba(0, 0, 0, 0.5);
 }
 .dropdown-content a {
   color: white;
   padding: 12px 16px;
   padding-left: 50px;
   display: block;
 }
.show {
   display: block;
}
a {
   text-decoration: none;
   color: white;
   font-size: medium;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}
body{
    background-image: url(../images/3.jpg);
    padding: 0px;
    margin:0px;
    width:100%;
    height:100vh;
    font-family: 'Lato';
}


input :-ms-input-placeholder {color: #a8a8a8;}
input ::-webkit-input-placeholder {color: #a8a8a8;}
input ::-moz-placeholder { color: #a8a8a8;}

.mainbutton{
	opacity : 0.9;
	top: 10%;
	left: 40%;
	position: absolute;
	z-index: 100;
	height: 40px;
	width: 400px;
	border: 1px solid #da2485;
	background: #ffffff;
}

input.textarea{
	font-size: 16px;
	width: 325px;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;
}

.submit{

	width: 50px;
	height: 100%;
	border: 0px;
	background: #da2485;
	outline: none;
	float: right;
	color: #ffffff;
}
.wrapper{
    z-index: 15;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:100%;
    max-width: 650px;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card{
    flex: 2;
    flex-basis: 200px;
    flex-grow: 0;
    height: 300px;
    background: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 4px 7px rgba(0,0,0,.5);
    cursor: pointer;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    
}
.card img{
    width: 100%;
    height:100%;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
}
.descriptions{
    position: absolute;
    top:0px;
    left:0px;
    background-color: rgba(255,255,255,.7);
    width:100%;
    height:100%;
    transition: all .7s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    clip-path: circle(0% at 100% 100%);
}
.card:hover .descriptions{
    left:0px;
    transition: all .7s ease-in-out;
    clip-path: circle(75%);
}
.card:hover{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    box-shadow: 0px 2px 3px rgba(0,0,0,.3);
    transform: scale(.97);
}
.card:hover img{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    transform: scale(1.6) rotate(20deg);
    filter: blur(3px);
}
.card h1{
    color: #ff3838;
    letter-spacing: 1px;
    margin: 0px;
}
.card p{
    line-height: 24px;
    height: 70%;
}
.card button{
    width: fit-content;
    height: 40px;
    cursor: pointer;
    border-style: none;
    background-color: #ff3838;
    color:#fff;
    font-size: 15px;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0,0,0,.4);
    transition: all .5s ease-in-out;
}
.card button:hover{
    transform: scale(.95) translateX(-5px);
    transition: all .5s ease-in-out;
}



.youtubeBtn{
    position: fixed;
    left: 50%;
  transform:translatex(-50%);
    bottom: 45px;
    cursor: pointer;
    transition: all .3s;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
}
.youtubeBtn i{
   font-size:20px;
  float:left;
}
.youtubeBtn a{
    color:#ff0000;
    text-shadow: 0px 2px 5px rgba(0,0,0,.5);
    animation: youtubeAnim 1000ms linear infinite;
  float:right;
}
.youtubeBtn a:hover{
  color:#c9110f;
  transition:all .3s ease-in-out;
  text-shadow: none;
}
.youtubeBtn i:active{
  transform:scale(.9);
  transition:all .3s ease-in-out;
}
.youtubeBtn span{
    font-family: 'Lato';
    font-weight: bold;
    color: #fff;
    display: block;
    font-size: 12px;
    float: right;
    line-height: 20px;
    padding-left: 5px;
  
}

@keyframes youtubeAnim{
  0%,100%{
    color:#c9110f;
  }
  50%{
    color:#ff0000;
  }
/*  footer   */
footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida  Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer .fa-heart{
    color: red;
}
footer .fa-dev{
    color: #fff;
}
footer .fa-twitter-square{
  color:#1da0f1;
}
footer .fa-instagram{
  color: #f0007c;
}
fotter .fa-linkedin{
  color:#0073b1;
}
footer .fa-codepen{
  color:#fff
}
footer a {
    color: #3c97bf;
    text-decoration: none;
  margin-right:5px;
}
