@charset "UTF-8";

html, body {
   width: 100%;
   height: 100%;
   
}
		 
.footer{
   position: absolute;
   color: white;
}

.bx-wrapper, .bx-viewport, .slider {
   width: 100%;
   height: 100%;
}

.background_01 {
   height: 100%;
   width: 100%;
   background: url("../images/1.jpg") no-repeat;
   background-size: cover;
   background-position: center;
}

.background_02 {
   width: 100%;
   height: 100%;
   background: url("../images/2.jpg") no-repeat;
   background-size: cover;
   background-position: center;
}

.background_03 {
   width: 100%;
   height: 100%;
   background: url("../images/3.jpg") no-repeat;
   background-size: cover;
   background-position: center;
}
.background_04 {
   width: 100%;
   height: 100%;
   background: url("../images/4.jpg") no-repeat;
   background-size: cover;
   background-position: center;
}
.background_05 {
   width: 100%;
   height: 100%;
   background: url("../images/5.jpg") no-repeat;
   background-size: cover;
   background-position: center;
}
.background_06 {
   width: 100%;
   height: 100%;
   background: url("../images/6.jpg") no-repeat;
   background-size: cover;
   background-position: center;
}
.logo img{
   position: absolute;
   z-index: 100;
}
.loginform{
   position: absolute;
   z-index: 100;
   right: 150px;
   top: 10px;
   font-size: 25px; 
}
a {
   text-decoration: none;
   color: white;
   font-size: medium;
}

.overlay {
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 5;
   background-color: rgba(0, 0, 0, 0.5);
}
.dropdown{
   position: absolute;
   color: white;
   right: 25px;
   top: 10px;
   z-index: 100;
   display: inline-block;
}
.dropbtn {
   background: url("../images/menu.png") no-repeat;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
 }
 .dropbtn1{
 color: white;
	padding-bottom: 10px;
   font-size: 16px;
   border: none;
   cursor: pointer;
   outline:none;
   background: none;
   width: 150px;
   top: 0;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   top: 50px;
   right: 0;
   min-width: 160px; 
   overflow: auto;
   z-index: 100;
   background-color: rgba(0, 0, 0, 0.5);
 }
 .dropdown-content a {
   color: white;
   padding: 12px 16px;
   padding-left: 50px;
   display: block;
 }
.show {
   display: block;
}

.maintext{

	position: absolute;
	z-index:11;
	width: 40%;
	top: 50%;
	left: 10%;
	right: 50%;
	bottom: 50%;
	
	
}
.maintext p{
	opacity : 0.7;
	font-size: 50px;
	color: white;
	
}



.mainbutton{
	opacity : 0.9;
	top: 30%;
	left: 40%;
	position: absolute;
	z-index: 100;
	height: 40px;
	width: 400px;
	border: 1px solid #da2485;
	background: #ffffff;
}

input.textarea{
	font-size: 16px;
	width: 325px;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;
}

.submit{

	width: 50px;
	height: 100%;
	border: 0px;
	background: #da2485;
	outline: none;
	float: right;
	color: #ffffff;
}




	

 


